/*Colors and dark mode*/
:root {
  --light0: #fff;
  --light1: #efefef;
  --light2: #cfcfcf;
  --light3: #afafaf;
  --dark0: #000;
  --high0: #e67d73;
  --high1: #F9AD66;
  --high2: #FFD666;
  --high3: #AFCF6F;
  --high4: #57BB8A;
}
/*Scrollbar Webkit*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--light0);  
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.28);
}
@media (prefers-color-scheme: dark) {
  :root {
    --light0: #000;
    --light1: #202020;
    --light2: #404040;
    --light3: #606060;
    --dark0: #dfdfdf;
    --high0: #b04e47;
    --high1: #c37e39;
    --high2: #c9a536;
    --high3: #7e9e41;
    --high4: #1e8a5d;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.28);
  }
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--dark0);
  background-color: var(--light0);
}

/*Icons*/
.icon {
  cursor: pointer;
  color: grey;
}
.icon:hover {
  color: var(--dark0);
}

/*Inputs*/
input[type=text], input[type=number], select, textarea {
  border-radius: 4px;
  border: none;
  background-color: var(--light2);
  color: var(--dark0);
}
select {
  padding: 2px 2px;
}
option {
  background-color: var(--light0);
  color: var(--dark0);
}

/*User info*/
.userinfo p {
  display: inline;
  font-size: 14px;
}
#testscore p, #gpa p, #income p {
  margin: 0 0 0 6px;
}
#needaid p {
  margin: 0 6px 0 0;
}
.userinfo {
  display: inline-block;
  height: 20px;
  margin: 4px 2px;
  border-radius: 4px;
  padding: 2px 2px;
  background-color: var(--light1);
}
.userinfo input {
  padding: 2px 4px;
}
#testscore input {
  width: 50px;
}
#gpa input {
  width: 40px;
}
#testscore select, #income select {
  height: 19px;
}

/*Table Buttons*/
.hidebutton {
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--light1);
  border: none;
	border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  padding: 6px 8px;
}
.hidebutton.clicked {
  background-color: var(--light2);
}

/*Add a college*/
#addcollege {
  position: relative;
  display: inline-block;
}
#textinput {
  width: 200px;
  height: 20px;
  margin: 4px 2px;
  padding: 4px 8px;
}
#suggestions {
  display: none;
  position: absolute;
  border: 1px solid var(--light2);
  border-radius: 0 0 4px 4px;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
}
#suggestions div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--light0);
  border-bottom: 1px solid var(--light2);
}
#suggestions div:hover {
  background-color: var(--light2);
}
#suggestions div.active {
  background: linear-gradient(90deg, #61cae3, #3489c9);
}
#suggestions div p {
  margin: 0;
}

/*Table*/
#tableholder {
  overflow: auto;
  padding: 1px 0;
}
table, th, td {
  border: 1px solid var(--dark0);
  border-collapse: collapse;
}
th, td {
  padding: 4px;
}
.actionsdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrowdiv {
  display: flex;
  flex-direction: column;
}
.arrow {
  font-size: 36px;
  line-height: 24px;
}
.removeicon {
  font-size: 36px;
  display: block;
}
.scoreicon {
  width: 40px;
  cursor: pointer;
}
#table th h2 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
#table th h3 {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
#table th p {
  font-size: 10px;
  line-height: 16px;
  margin: 0;
}

/*Header*/
#header {
  overflow: hidden;
  background-color: var(--light1);
  padding: 2px;
  display: flex;
  align-items: center;
}
#header #logo img {
  width: 35px;
  margin: 5px;
}
#header a {
  color: var(--dark0);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
}
#header #logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-align: left;
  padding: 0px;
}
#header #logo h1 {
  margin: 0 10px 0 5px;
  font-size: 25px;
  line-height: 0;
}
#header a:hover {
  background-color: var(--light2);
}
#header #login {
  background: linear-gradient(90deg, #61cae3, #3489c9);
}
@media screen and (max-width: 680px) {
  #header #logo h1 {
    display: none;
  }
}
#headerright {
  display: flex;
  align-items: center;
}
#userimg {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#usersvg {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  font-size: 35px;
  cursor: pointer;
}

/*Modals*/
@keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
.modal {
  display: none;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadein 0.4s;
  backdrop-filter: blur(1px);
}
@keyframes fadeout {
  from {opacity:1}
  to {opacity:0}
}
.modal.out {
  animation: fadeout 0.4s;
}
@keyframes slidedown {
  from {transform: translateY(-120%); opacity:0}
  to {top:15%; opacity:1}
}
.modal .content {
  position: relative;
  background-color: var(--light0);
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  max-width: 75%;
  max-height: 70%;
  border-radius: 8px;
  top: 15%;
  animation: slidedown 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  overflow: auto;
}
@keyframes slideup {
  from {top:15%; opacity:1}
  to {transform: translateY(-120%); opacity:0}
}
.modal .content.out {
  animation: slideup 0.4s;
}
.modal .content .close {
  float: right; 
  color: grey; 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
}
.modal .content .close:hover {
  color: var(--dark0);
}
.modal h1 {
  margin: 0;
}
.modal .buttonbox {
  float: right;
}

/*Pop Up*/
.popup {
  position: absolute;
  background-color: var(--light0);
  width: fit-content;
  border-radius: 4px;
  display: none;
  box-shadow: 0 0 20px grey;
}
.popup h2 {
  font-size: 24px;
  line-height: 20px;
  margin: 10px 10px 5px 10px;
  text-align: center;
}
.popup h3 {
  font-size: 18px;
  line-height: 18px;
  margin: 5px 10px;
  font-weight: normal;
}

/*Modal and Popup Buttons*/
.modal .buttons, .popup a {
  color: var(--dark0);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
}
.modal .buttons:hover, .popup a:hover {
  background-color: var(--light2);
}
.modal .mainbtn, .popup .mainbtn {
  color: white;
  background: linear-gradient(90deg, #d80000, #eb0000);
}
.modal .mainbtn:hover, .popup .mainbtn:hover {
  background: linear-gradient(90deg, #eb0000, #f00);
}

/*User actions*/
#useractions {
  top: 60px;
  right: 10px;
  flex-direction: column;
  align-items: initial;
}
#reset:hover, #deleteaccnt:hover {
  background: linear-gradient(90deg, #eb0000, #f00);
  color: white;
}

/*Sliders*/
.slider {
  /*-webkit-appearance: none;*/
  width: 100px;
  height: 10px;
  /*border-radius: 4px;
  background: #d3d3d3;
  outline: none;*/
}
/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #61cae3, #3489c9);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #61cae3, #3489c9);
  cursor: pointer;
}*/

/*Override*/
.override input[type=checkbox] {
  display: inline;
}
.override p {
  display: block;
  margin: 0 5px;
  float: right;
}
.override .slider {
  display: block; 
  width: 60px;
}

/*Weight Change*/
.weight {
  float: left;
}
.plus {
  float: right;
  font-size: 24px;
  line-height: 16px;
}
.scorecontrol {
  width: 100px;
  margin: auto;
}

/*Data Changer*/
.datachange {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 200px;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.dropdown {
  margin: 5px 10px;
}
.barbox {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5px;
}
.bar {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.rangeval {
  width: 50px;
  margin: 5px;
  padding: 4px 8px;
  height: 20px;
  -moz-appearance: textfield;
}
.rangeval::-webkit-outer-spin-button,
.rangeval::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.scorelabel {
  margin: 0;
  text-align: center;
}
.vert {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 10px;
  height: 100px;
  margin-bottom: 10px;
}

/*Toasts*/
#toasts {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.toast {
  margin: 0 10px 10px auto;
  height: 34px;
  width: fit-content;
  background-color: var(--light2);
  border-radius: 8px;
  padding: 5px;
  /*box-shadow: 0 0 5px grey;*/
}
@keyframes slidein {
  from { transform: translateX(120%); }
  to { transform: translateX(0%); }
}
.toast.animatein {
  animation: slidein 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
@keyframes slideout {
  from { transform: translateX(0%); }
  to { transform: translateX(200%); }
}
.toast.animateout {
  animation: slideout 0.5s forwards;
}
.toast p {
  margin: 0 5px;
  display: inline;
  font-size: 16px;
  line-height: 34px;
}
.toast a {
  display: inline-block;
  color: var(--dark0);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
}
.toast a:hover {
  background-color: var(--light3);
}