/*Colors and dark mode*/
:root {
  --light0: #fff;
  --light1: #efefef;
  --light2: #cfcfcf;
  --light3: #afafaf;
  --dark0: #000;
  --high0: #e67d73;
  --high1: #F9AD66;
  --high2: #FFD666;
  --high3: #AFCF6F;
  --high4: #57BB8A;
}
/*Scrollbar Webkit*/
::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--light0);  
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 0.625rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.28);
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (prefers-color-scheme: dark) {
  :root {
    --light0: #000;
    --light1: #303030;
    --light2: #505050;
    --light3: #707070;
    --dark0: #dfdfdf;
    --high0: #5e2a26;
    --high1: #6b451f;
    --high2: #715c1e;
    --high3: #3f5021;
    --high4: #0a2e1f;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.28);
  }
  .modal {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

body {
  margin: 0;
  font-family: Helvetica, Arial;
  color: var(--dark0);
  background-color: var(--light0);
}

/*Buttons*/
button {
  color: var(--dark0);
  background-color: var(--light1);
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  margin: 0.25rem 0.125rem;
  padding: 0.375rem 0.5rem;
}
button:hover {
  background-color: var(--light2);
}

/*Icons*/
.icon {
  cursor: pointer;
  color: grey;
}
.icon:hover {
  color: var(--dark0);
}

/*Inputs*/
input[type=text], input[type=number], select, textarea {
  border-radius: 0.25rem;
  border: none;
  background-color: var(--light2);
  color: var(--dark0);
}
select {
  padding: 0.125rem 0.125rem;
}
option {
  background-color: var(--light0);
  color: var(--dark0);
}

/*User info*/
#userinfo {
  margin: 0.25rem 0.625rem 0 0.625rem;
}
.userinfo p {
  display: inline;
  font-size: 0.875rem;
}
#testscore p, #gpa p, #income p {
  margin: 0 0 0 0.375rem;
}
#needaid p {
  margin: 0 0.375rem 0 0;
}
.userinfo {
  display: inline-block;
  margin: 0.25rem 0.125rem;
  border-radius: 0.25rem;
  padding: 0.125rem 0.125rem;
  background-color: var(--light1);
}
.userinfo input {
  padding: 0.125rem 0.25rem;
}
#testscore input {
  width: 3.125rem;
}
#gpa input {
  width: 2.5rem;
}
#testscore select, #income select {
  height: 1.1875rem;
}

/*Bug report*/
#bug {
  float: right;
  margin: 0.25rem 0.75rem 0.25rem 0.125rem;
}

/*Table Buttons*/
#buttonholder {
  margin: 0 0.625rem;
}
.hidebutton {
  color: var(--dark0);
  font-size: 0.875rem;
  margin: 0.25rem 0.125rem;
  display: inline-block;
  padding: 0.375rem 0.5rem;
}
.hidebutton.clicked {
  background-color: var(--light2);
}
.hidebutton.doubleclicked {
  background-color: var(--light2);
  border: 0.1875rem solid var(--light3);
  padding: 0.1875rem 0.3125rem;
}

/*Add a college*/
#addcollege {
  margin-right: 0.625rem;
  position: relative;
  display: inline-block;
}
#textinput {
  width: 12.5rem;
  height: 1.25rem;
  margin: 0.25rem 0.125rem;
  padding: 0.25rem 0.5rem;
}
#suggestions {
  display: none;
  position: absolute;
  border: 0.0625rem solid var(--light2);
  border-radius: 0 0 0.25rem 0.25rem;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
}
#suggestions div {
  width: 12.5rem;
  padding: 0.625rem;
  cursor: pointer;
  background-color: var(--light0);
  border-bottom: 0.0625rem solid var(--light2);
}
#suggestions div:hover {
  background-color: var(--light2);
}
#suggestions div.currentFocus {
  background: var(--light2);
}
#suggestions div p {
  margin: 0;
}

/*Descriptions*/
#descriptions {
  margin: 0 0.625rem;
  overflow: auto;
}
.descriptions {
  display: none;
}
.descCheckDiv input, .descCheckDiv p {
  display: inline;
}
.descsDropdown {
  margin-bottom: 1.25rem;
}
.descriptions p {
  max-width: 75ch;
}

/*Apply Tables*/
#appLeftDiv {
  margin-right: 1.25rem;
}
#appDiv {
  display: flex;
  flex-wrap: wrap;
}
#appWarnP {
  background-color: var(--high0);
  padding: 0.125rem 0.25rem;
}
.splitDiv {
  display: flex;
  align-items: center;
}
.splitDiv p {
  margin-left: auto;
}

/*Table*/
#tableholder {
  margin: 0 0.625rem;
  overflow: auto;
  padding: 0.5rem 0;
}
table, th, td {
  border: 0.0625rem solid var(--dark0);
  border-collapse: collapse;
}
th, td {
  padding: 0.25rem;
}
.actionsdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrowdiv {
  display: flex;
  flex-direction: column;
}
.arrow {
  font-size: 2.25rem;
  line-height: 0.875rem;
}
.drag {
  text-align: center;
  line-height: 0.875rem;
}
.removeicon {
  font-size: 2.25rem;
  display: block;
}
.scoreicon {
  cursor: pointer;
}
.question {
  font-size: 1.0rem;
  vertical-align: top;
}
table th h2 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
}
table th h3 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin: 0;
}
table th p {
  font-size: 0.625rem;
  line-height: 1.0rem;
  margin: 0;
}

/*Header*/
#header {
  overflow: hidden;
  background-color: var(--light1);
  padding: 0.125rem;
  display: flex;
  align-items: center;
}
#header #logo img {
  margin: 0.3125rem;
}
#header a {
  color: var(--dark0);
  text-align: center;
  padding: 0.625rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  border-radius: 0.25rem;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  cursor: pointer;
}
#header #logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 0.625rem;
  text-align: left;
  padding: 0.0rem;
}
#header #logo h1 {
  margin: 0 0.625rem 0 0.3125rem;
  font-size: 1.5625rem;
  line-height: 0;
}
#header a:hover {
  background-color: var(--light2);
}
#header #signuplogin {
  margin-right: 0.625rem;
  background: linear-gradient(90deg, #61cae3, #3489c9);
}
@media screen and (max-width: 42.5rem) {
  #header #logo h1 {
    display: none;
  }
}
#headerright {
  display: flex;
  align-items: center;
}
#userimg {
  margin-right: 0.625rem;
  margin-left: 0.3125rem;
  border-radius: 100%;
  width: 2.1875rem;
  height: 2.1875rem;
  cursor: pointer;
}
#usersvg {
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
  border-radius: 100%;
  font-size: 2.1875rem;
  cursor: pointer;
}

/*Modals*/
@-webkit-keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
@keyframes fadein {
  from {opacity:0}
  to {opacity:1}
}
.modal {
  display: none;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadein 0.4s;
  animation: fadein 0.4s;
  backdrop-filter: blur(0.063rem);
}
@-webkit-keyframes fadeout {
  from {opacity:1}
  to {opacity:0}
}
@keyframes fadeout {
  from {opacity:1}
  to {opacity:0}
}
.modal.out {
  -webkit-animation: fadeout 0.4s;
  animation: fadeout 0.4s;
}
@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    opacity:0
  }
  to {
    top:15%;
    opacity:1
  }
}
@keyframes slidedown {
  from {
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    opacity:0
  }
  to {
    top:15%;
    opacity:1
  }
}
.modal .content {
  position: relative;
  background-color: var(--light0);
  padding: 1.25rem;
  margin: 0 auto;
  width: fit-content;
  max-width: 75%;
  max-height: 70%;
  border-radius: 0.5rem;
  top: 15%;
  -webkit-animation: slidedown 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  animation: slidedown 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  overflow: auto;
}
@-webkit-keyframes slideup {
  from {
    top:15%;
    opacity:1
  }
  to {
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    opacity:0
  }
}
@keyframes slideup {
  from {
    top:15%;
    opacity:1
  }
  to {
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    opacity:0
  }
}
.modal .content.out {
  -webkit-animation: slideup 0.4s;
  animation: slideup 0.4s;
}
.modal .content .close {
  float: right; 
  color: grey; 
  font-size: 1.5rem;  
  font-weight: bold;
  cursor: pointer;
}
.modal .content .close:hover {
  color: var(--dark0);
}
.modal h1 {
  margin: 0;
}
.modal .buttonbox {
  margin-top: 0.625rem;
  float: right;
}

/*Welcome Modal*/
#welcomeweights {
  margin: 0 auto;
}
#welcomecolleges div {
  background-color: var(--light1);
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 0.625rem;
}
#welcomecolleges p {
  margin: 0;
}
#welcomecolleges span {
  margin-right: 0.5rem;
}

/*Pop Up*/
.popup {
  position: absolute;
  background-color: var(--light0);
  width: fit-content;
  border-radius: 0.25rem;
  display: none;
  box-shadow: 0 0 1.25rem grey;
}
.popup h2 {
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin: 0.625rem 0.625rem 0.3125rem 0.625rem;
  text-align: center;
  display: inline-block;
}
.popup h3 {
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin: 0.3125rem 0.625rem;
  font-weight: normal;
  display: inline-block;
}

/*Modal and Popup Buttons*/
.modal .buttons, .popup button {
  font-size: 1.0rem;
  line-height: 1.25rem;
  padding: 0.3125rem;
  margin: 0.125rem 0;
}
.modal .buttons {
  background-color: var(--light1);
}
.modal .buttons:hover, .popup a:hover {
  background-color: var(--light2);
}
.modal .mainbtn, .popup .mainbtn, #reset:hover, #deleteaccnt:hover {
  color: white;
  background-color: #bb000c;
}
.modal .mainbtn:hover, .popup .mainbtn:hover {
  background-color: #d81a1a;
}

/*User actions*/
#useractions {
  top: 3.75rem;
  right: 0.625rem;
  flex-direction: column;
  align-items: center;
}
.editicon {
  font-size: 0.75rem;
  margin-right: 0.625rem;
  vertical-align: text-top;
}
#useractions button {
  background-color: var(--light0);
  width: 100%;
  padding: 0.4375rem 0;
  margin: 0;
}
#actsetupwizard:hover, #logout:hover, #changepass:hover {
  background-color: var(--light1);
}

/*Sliders*/
.slider {
  width: 6.25rem;
  height: 0.625rem;
}

/*Override*/
.overcheckbox {
  display: inline;
}
.overlabel {
  display: block;
  margin: 0 0.3125rem;
  float: right;
}
.overslider {
  display: block; 
  width: 3.75rem;
}

/*Weight Change*/
.weight {
  float: left;
}
.plus {
  float: right;
  font-size: 1.5rem;
  line-height: 1.0rem;
}
.scorecontrol {
  width: 6.25rem;
  margin: auto;
}

/*Data Changer*/
.datachange {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 12.5rem;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.dropdown {
  margin: 0.3125rem 0;
}
.barbox {
  width: fit-content;
  height: fit-content;
  margin-bottom: 0.3125rem;
}
.bar {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
}
.rangeval {
  width: 3.125rem;
  margin: 0.3125rem;
  padding: 0.25rem 0.5rem;
  height: 1.25rem;
  -moz-appearance: textfield;
}
.rangeval::-webkit-outer-spin-button,
.rangeval::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.scorelabel {
  margin: 0;
  text-align: center;
}
.vert {
  writing-mode: bt-lr; /*IE*/
  -webkit-appearance: slider-vertical; /*WebKit*/
  width: 0.625rem;
  height: 6.25rem;
  margin-bottom: 0.625rem;
}

/*Toasts*/
#toasts {
  margin-left: auto;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}
.toast {
  margin: 0 0.625rem 0.625rem auto;
  height: 2.125rem;
  width: fit-content;
  background-color: var(--light2);
  border-radius: 0.5rem;
  padding: 0.3125rem;
}
@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slidein {
  from {
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
    transform: translateX(120%);
  }
  to {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.toast.animatein {
  -webkit-animation: slidein 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  animation: slidein 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
@-webkit-keyframes slideout {
  from {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}
@keyframes slideout {
  from {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}
.toast.animateout {
  -webkit-animation: slideout 0.5s forwards;
  animation: slideout 0.5s forwards;
}
.toast p {
  margin: 0 0.3125rem;
  display: inline;
  font-size: 1.0rem;
  line-height: 2.125rem;
}
.toast button {
  display: inline-block;
  background-color: var(--light2);
  padding: 0.3125rem;
  font-size: 1.0rem;
  line-height: 1.25rem;
  margin: 0.125rem 0;
}
.toast button:hover {
  background-color: var(--light3);
}

/*Ad*/
#ad {
  margin: 0.5rem 0.625rem 0 0.625rem;
  max-height: 5.625rem;
  width: calc(100vw - 1.875rem);
  max-width: 45.5rem;
  border-radius: 0.25rem;
}

/*About Us*/
.headshot {
  border-radius: 50%;
}
#cylerdiv {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}
#cylerdiv h2, #cylerdiv p {
  text-align: center;
}
#cylerdiv h2 {
  margin-bottom: 0;
}
#cylerdiv p {
  color: gray;
}
#cydiv, #tylerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0.0rem;
}
#tylerdiv {
  margin-right: 0.625rem;
}
#cydiv {
  margin-left: 0.625rem;
}
#acknowledgementsdiv p {
  color: gray;
  margin-bottom: 0.125rem;
}
#acknowledgementsdiv h3 {
  margin-top: 0.125rem;
}
