body {
  margin: 0;
}

/*Table Buttons*/
.hidebutton {
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #61cae3, #3489c9);
	border-radius: 4px;
	padding: 2px;
	position: relative;
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.hidebutton span {
  padding: 4px;
	align-items: center;
	background: #fff;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .2s ease;
	width: fit-content;
}
.hidebutton.clicked span {
	background: transparent;
}

/*Add a college*/
#addcollege {
  position: relative;
  display: inline-block;
}
#textinput {
  height: 20px;
  margin: 4px 2px;
  width: 200px;
  border-radius: 4px;
  border: none;
  background-color: #ddd;
  padding: 4px 8px;
}
#suggestions {
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
#suggestions div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
#suggestions div:hover {
  background-color: #ddd;
}
#suggestions div.active {
  background: linear-gradient(90deg, #61cae3, #3489c9);
}
#suggestions div p {
  margin: 0;
}

/*Table*/
#tableholder {
  overflow: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 4px;
}
.removeicon {
  cursor: pointer;
  width: 20px;
  margin-right: 3px;
  margin-left: 3px;
}
.scoreicon {
  width: 40px;
  cursor: pointer;
}
#table th h2 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
#table th h3 {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
#table th p {
  font-size: 10px;
  line-height: 16px;
  margin: 0;
}

/*Header*/
#header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 2px;
  display: flex;
  align-items: center;
}
#header #logo img {
  width: 35px;
  margin: 5px;
}
#header a {
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
}
#header #logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-align: left;
  padding: 0px;
}
#header #logo h1 {
  margin: 0 10px 0 5px;
  font-size: 25px;
  line-height: 0;
}
#header a:hover {
  background-color: #ddd;
}
#header #login {
  background: linear-gradient(90deg, #61cae3, #3489c9);
}
@media screen and (max-width: 550px) {
  #header #logo h1 {
    display: none;
  }
}
#headerright {
  display: flex;
  align-items: center;
}
#userimg {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/*Modals*/
.modal {
  display: none;
  position: fixed; 
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  width: fit-content;
  max-width: 75%;
  border-radius: 8px;
  top: 15%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}
.modal .content .close {
  float: right; 
  color: #666; 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
}
.modal .content .close:hover {
  color: #000;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:15%; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:15%; opacity:1}
}
.modal h1 {
  margin: 0;
}
.modal .buttonbox {
  float: right;
}

/*Pop Up*/
.popup {
  position: absolute;
  background-color: white;
  width: fit-content;
  max-width: 200px;
  border-radius: 4px;
  display: none;
  box-shadow: 0 0 20px grey;
}
.popup h2 {
  font-size: 24px;
  line-height: 20px;
  margin: 10px 10px 5px 10px;
  text-align: center;
}
.popup h3 {
  font-size: 18px;
  line-height: 18px;
  margin: 5px 10px;
  font-weight: normal;
}

/*Modal and Popup Buttons*/
.modal .buttons, .popup a {
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
}
.modal .buttons:hover, .popup a:hover {
  background-color: #ddd;
}
.modal .mainbtn, .popup .mainbtn {
  color: white;
  background: linear-gradient(90deg, #d80000, #eb0000);
}
.modal .mainbtn:hover, .popup .mainbtn:hover {
  background: linear-gradient(90deg, #eb0000, #f00);
}

/*User info*/
#userinfo {
  top: 60px;
  right: 10px;
  flex-direction: column;
  align-items: initial;
}
#reset:hover, #deleteaccnt:hover {
  background: linear-gradient(90deg, #eb0000, #f00);
  color: white;
}

/*Sliders*/
.slider {
  /*-webkit-appearance: none;*/
  width: 100px;
  height: 10px;
  /*border-radius: 4px;
  background: #d3d3d3;
  outline: none;*/
}
/*.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #61cae3, #3489c9);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #61cae3, #3489c9);
  cursor: pointer;
}*/

/*Weight Change*/
.weight {
  float: left;
}
.plus {
  width: 10px;
  float: right;
  cursor: pointer;
}
.scorecontrol {
  width: 100px;
  margin: auto;
}

/*Data Changer*/
.datachange {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}
.break {
  flex-basis: 100%;
  height: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.dropdown {
  margin: 5px 10px;
}
.barbox {
  width: fit-content;
  height: fit-content;
  margin-bottom: 5px;
}
.bar {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.rangeval {
  width: 50px;
  margin: 5px;
}
.scorelabel {
  margin: 0;
  text-align: center;
}
.vert {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 10px;
  height: 100px;
  margin-bottom: 10px;
}
